[dbserver]
host = 127.0.0.1
port = 27017
user = 
password = 

[drugbank]
db_name = test
col_num = 1
col_name_1 = source_drugbank
source_url_num = 1
source_url_1_front = https://go.drugbank.com/releases/
source_url_1_back = /downloads/all-full-database
update_time = 2023-9-1
data_path_num = 1
data_path_1 = ../data/drugbank/full database.xml.zip
json_path_num = 1
json_path_1 = ../parsed/drugbank/
username =
password =
file_path = ../data/drugbank
file = ../data/drugbank/full database.xml
version = 5.1.13
url = https://go.drugbank.com/releases/latest

[biogrid]
db_name = test
col_num = 1
col_name_1 = source_biogrid
source_url_num = 1
source_url_1 = https://downloads.thebiogrid.org/Download/BioGRID/Release-Archive/BIOGRID-5.0.250/BIOGRID-ALL-5.0.250.mitab.zip
data_path_num = 1
data_path_1 = ../data/biogrid/
json_path_num = 1
json_path_1 = ../data/biogrid/
directory_url = https://downloads.thebiogrid.org/BioGRID/Release-Archive
file_name = BIOGRID-5.0.250
zip_name = BIOGRID-ALL-5.0.250.mitab.zip

[wikipathway]
db_name = test
col_num = 1
col_name_1 = source_wikipathway
source_url_num = 1
source_url_1 = https://data.wikipathways.org/current/gpml/
data_path_num = 1
data_path_1 = ../data/wikipathway/
json_path_num = 1
json_path_1 = ../../wikipathway/
directory_url = https://data.wikipathways.org/current/gpml
last_modified = 10 Oct 2025  7:02 AM
file_name = wikipathways-20251010-gpml-Homo_sapiens.zip

